@media (max-width:767px){
  header{
   img{
     margin-bottom: 15px;
   }
   ul{
     padding-top: 15px;
   }
  }
  
  main{
    .b{
      article{
        padding: 10px 0px;
      }  

    }
    #banners{
      display: none;
    }  
  }

}
@media (max-width:991px){
  header{
    ul{
      li{
        font-size: 12px;
              
      }
    }
  }
  .navegacao{
    font-size: 10px;
  }
   
}
